body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.pink{
    background-color: palevioletred;
}

.green{
    background-color:cadetblue;
}

.orange{
    background-color: orange;
}

.purple{
    background-color:cornflowerblue;
}

.flash{
    background-color: white;
}